<?xml version="1.0"?>

<!-- ackermann_vehicle.launch

Use Gazebo to simulate a vehicle with Ackermann steering.

Copyright (c) 2013 Wunderkammer Laboratory
-->

<launch>
  <!-- Create an empty world. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- Load the vehicle's description onto the parameter server, then spawn
       the vehicle. -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py $(find ackermann_vehicle_description)/urdf/em_3905.urdf.xacro"/>
  <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model ackermann_vehicle -z 0.1"/>

  <!-- Load the joint controllers. -->
  <rosparam file="$(find ackermann_vehicle_gazebo)/config/em_3905_ctrlr_params.yaml"
            command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="--namespace=/
              /ackermann_vehicle/left_front_shock_ctrlr
              /ackermann_vehicle/right_front_shock_ctrlr
              /ackermann_vehicle/left_rear_shock_ctrlr
              /ackermann_vehicle/right_rear_shock_ctrlr
              /ackermann_vehicle/left_front_axle_ctrlr
              /ackermann_vehicle/right_front_axle_ctrlr
              /ackermann_vehicle/left_rear_axle_ctrlr
              /ackermann_vehicle/right_rear_axle_ctrlr
              /ackermann_vehicle/left_steering_ctrlr
              /ackermann_vehicle/right_steering_ctrlr"/>

<!--
rosservice call /e_maxx/controller_manager/load_controller "name: /e_maxx/left_front_axle_ctrlr"

rosservice call /e_maxx/controller_manager/switch_controller "{start_controllers: ['left_front_axle_ctrlr'], stop_controllers: [], strictness: 0}"

rostopic pub /e_maxx/left_front_axle_ctrlr/command std_msgs/Float64 "data: 100.0"

rostopic pub /ackermann_vehicle/left_steering_ctrlr/command std_msgs/Float64 "data: 2.0"
-->
</launch>
